@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;


}



#message
{
	width: 100%;
	height: auto;
	color: #FFF;
	font-size: 30px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align: center;
	padding: 20px 10px;
	-webkit-box-sizing: border-box;
	-webkit-background-size: 100% 100%;
	z-index: 1;
}



.wrapper {

	border: 15px;
	border-color: red;
	padding: 50px;
	margin: 50px;
	width: 400px;
	height: 400px;
	background: transparent url(../images/jouludtaust.png) repeat-x center;
	background-position: center;


}

p {
  margin: 15px;
  text-shadow:1px 1px #000;
}


#header {
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
	height: 300px;
	text-align: center;
	margin-top:20px;
}

h1 {
	font-size:24px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px #000;
}

h2 {
	font-size:16px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px #000;
}


h3 {
	font-size:13px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px #000;
}



a
{
  color: #FF0;
  text-decoration: none;
}

.clear {
	 clear:both;	
}
